<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>

<body>
    <div class="container mt-3 px-2 bg-light">
        <h1 th:text="#{main.title}"></h1>
        <hr>

        <p th:text="#{information}"> </p>
        <div class="input-group">
            <input type="text" aria-label="Title" class="form-control rounded-right" th:placeholder="#{film.title}" id="title">
            <input type="text" aria-label="Year" class="form-control rounded-0" th:placeholder="#{film.year}" id="year">
            <div class="input-group-prepend" id="button-addon4">
                <button class="btn btn-outline-secondary rounded-0" type="button" th:text="#{button.search}" onclick="loadData();"></button>
                <button class="btn btn-outline-secondary rounded-left" type="button" th:text="#{button.delete}" onclick="deleteData();"></button>
            </div>
        </div>

        <h4 th:text="#{results}" id="resultsText" class="mt-3" style="visibility:hidden"></h4>
        <div class="container-sm border border-dark rounded-sm p-3 m-3 bg-secondary text-white" id="infoPelis" style="visibility:hidden">

        </div>

        <select class="mb-3 rounded-sm" id="languages" onchange="reload();">
            <option value="th:text=#{button.language}" th:text="#{button.language}"  class="p-2" selected></option>
            <option value="en" th:text="#{lang.en}"></option>
            <option value="es" th:text="#{lang.es}"></option>
        </select>
    </div>
</body>

<script>
    function reload() {
        var e = document.getElementById("languages");
        var selectedLang = e.options[e.selectedIndex].value;

        var url = "?lang=" + selectedLang
        location.href = url;
    }

    function loadData() {
        let controllerURL = "http://localhost:9595/films"
        let search = 0
        if ((document.getElementById('title').value != "") && (document.getElementById('year').value == "")) {
            search = 1
        }
        if ((document.getElementById('title').value == "") && (document.getElementById('year').value != "")) {
            search = 2
        }
        if ((document.getElementById('title').value != "") && (document.getElementById('year').value != "")) {
            search = 3
        }
        if ((document.getElementById('title').value == "") && (document.getElementById('year').value == "")) {
            search = 0
        }

        switch (search) {
            case 1:
                controllerURL += "?title=" + document.getElementById('title').value
                break;
            case 2:
                controllerURL += '?year=' + document.getElementById('year').value
                break;
            case 3:
                controllerURL += "?title=" + document.getElementById('title').value + '&year=' + document.getElementById('year').value
                input.value
                break;
            default:
                controllerURL = "http://localhost:9595/films"
                break;
        }
        document.getElementById('infoPelis').innerHTML = ""

        fetch(controllerURL)
            .then(resultadoRaw => {

                return resultadoRaw.json();

            })
            .then(resultadoComoJson => {

                document.getElementById("infoPelis").style.visibility = "visible"
                document.getElementById("resultsText").style.visibility = "visible"
                if (JSON.stringify(resultadoComoJson) == "") {
                    document.getElementById('infoPelis').innerHTML += "No records"
                } else {
                    document.getElementById('infoPelis').innerHTML += JSON.stringify(resultadoComoJson)
                }

            });


    }

    function deleteData() {
        document.getElementById('infoPelis').innerHTML = ""
        document.getElementById("title").value = ""
        document.getElementById("year").value = ""
        document.getElementById("infoPelis").style.visibility = "hidden"
        document.getElementById("resultsText").style.visibility = "hidden"
    }
</script>

</html>